

.project_container{
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-top: 40px;
    padding-bottom: 20px;
    
}
.title_projects{
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: whitesmoke;
    
}
.swiper_container{
   
   width:70%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-width: 3px;
   border-style: solid;
   border-image: 
    linear-gradient(
      to left, 
      rgb(145, 16, 16), 
      rgba(0, 0, 0, 0)
    ) 1 1 100%;
   
    
     
   
}

.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    transition: 0.5s;
}





.projects_image{
    width:70%;
    padding: 20px;
    border-radius: 30px;
    transition: .5s ease-in-out;
}

.projects_image4{
    width: 60%;
    padding: 20px;
    border-radius: 30px;
    transition: .5s ease-in-out;
}


.swiper-slide:hover .icons {
    opacity: 1;
}

.swiper-slide:hover .details {
    opacity: 1;
}

.projects_image:hover{
    opacity: .5;
    
}



.swiper-button-prev::after{
    color:whitesmoke;
   
    
}
.swiper-button-next::after{
    color:whitesmoke;
    
}

.swiper-pagination span{
    background-color: brown;
    
}





.icons{
 position: absolute;
 top:60%;
 left:50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
 width: 20%;
 height: 100px;
 color: white;
 font-size: 30px;
 text-decoration: none;
 opacity: 0;
 transition: .5s ease-in-out;
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.icons a{
    text-decoration: none;
    width: 100%;
    color:white ;
}

.icons p{
    width: 100%;
    
}
.icon{
    
    opacity: 1;
    transition: .5s ease-in-out;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-left: 10px;
    
    
   
}


.icon:hover {
    transform: translateY(-5px);
    box-shadow:0 15px 35px rgba(0,0,0,.5);
    background-color: rgb(184, 45, 45);
    border-radius: 2px;
}



.fa{
    text-decoration: none;
    

}

.details{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 60%;
    height: 100px;
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: .5s ease-in-out;
    border-radius: 10px;
}

.icon_mobile{
    display: none;
}

@media (max-width: 780px){


  .swiper_container{
      width: 80%;
    
      
    
  }

  .swiper-slide{
      width:100%;
      
      display: flex;
      justify-content: center;

  }

  .projects_image{
      width:100%;
      
  }

  .projects_image4{
      width: 100%;
      
  }

  .icons{
      font-size: 16px;
      
  }

  .icons p{
      margin-left: 10px;

  }
}

@media (max-width: 480px){

    .swiper-button-next::after{
        display: none;
    }

    .swiper-button-prev::after{
        display: none;
    }
    

    .icons{
        display: none;
    }
    .details{
        opacity: 1;
        
    }

    .details h2{
        font-size: 30px;
    }

    i.fab.fa-github{
        display: none;
    }

    a.icon, a.icon p{
        margin: 0;
        
    }

    .icon_mobile{
        display:block;
        color: white;
        font-size: 20px;
        margin-top: 20px;
    }

   

}

