
.skills_container{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top:50px;
    padding: 50px;
    width: 80%;
    margin: auto;
  
    
    
  }
  
  .logos_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:40%;
   
    
    
  }
  
  .skills{
      display: flex;
      width: 40%;
      padding:40px;
      border-top: solid rgb(145, 16, 16) 2px ;
      margin-top: 5px;
     
      
  }
    
    
  .skills_text{
      color:black;
      width: 100%;
  }
  
  
    
  .skills_text p {
      margin-top: 20px ;
  }
    
    
    
  .container_bars .card{
      
      width:150px;
      height:150px;
      background:linear-gradient(0deg,#1b1b1b,#222,#1b1b1b);
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items:center;
      border-radius:4px;
      text-align:center;
      transition:0.5s;
      color: whitesmoke;
      font-size: .75rem;
      margin:5px;
      position:static;
      
      
      
   }
   .container_bars .card:hover
  {
      transform:translateY(-5px);
      box-shadow:0 15px 35px rgba(0,0,0,.5);
      
  }
  
  .logo{
      width: 80px;
      margin-bottom: 20px;
      
  }

  @media (max-width: 1024px){
      .skills_container{
          display: flex;
          flex-direction: column;
          width: 90%;
          padding: 0;
      }

      .skills, .logos_container{
          width: 80%;
      }

      .skills_text{
          width: 100%;
      }

      .container_bars .card{
          width: 100px;
          height: 100px;
     }
     .logo{
         width: 40px;
     }

     .container_bars h2{
         font-size: 13px;
         
     }
  }