

.btn_contact{
    width: 100px;
    border-radius:50px;
    position:fixed;
    z-index: 80;
    top: 95px;
    left: 30px;
    transition: .7s ease-in-out;
    cursor: pointer;
    text-align: center;
  }
  .contact_title{
    font-size: 18px;
    color: brown;
   
    
  }

  .logo_fixed{
   width: 100px;
   border-radius: 50px;
   transition: .4s ease-in-out;

  }

  .logo_fixed:hover{
    opacity: .5;

  }

 

  .social_media{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    height:200px;
    margin-top: 10px;
    color:white;
    border-radius: 10px;
    transition: .3s ease-in;
    
    
    
    
    
}
.social_desactivate{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  height: 300px;
  margin-top: 10px;
  color:white;
  border-radius: 10px;
  position: absolute;

  
}



.social_icon .fa {
  color: white;
  font-size: 25px;
  transition: .1s ease-in;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  
  

  
}

.fab{
  color: white;
  font-size: 25px;
  transition: .2s ease-in;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
  
}

.fab:hover{
  transform: translateY(-5px);
  box-shadow: 3px 3px 3px rgba(165, 42, 42, 0.644);
 
}

 
  .social_icon .fa:hover{
    transform: translateY(-5px);
    box-shadow: 3px 3px 3px rgba(165, 42, 42, 0.644);
    
  }

  .fa.scrolling{
    color: black;
  }

  .title_scrolling{
    color: black;
    
  }

  @media (max-width: 1024px){
    .btn_contact{
      left: 5px;
      
    }
   
    .social_icon, h2{
      font-size: 16px;
    }


  }

  @media (max-width: 770px){
    .btn_contact{
      display: none;
    }
  }

 

 